@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}
.App .heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  color: white;
}
@media (max-width: 800px) {
  .App .heading {
    font-size: 35px;
    margin: 15px 0;
  }
}
